<h1 style="color: mediumpurple">seja bem-vindo</h1>
<br/>
<p><strong>nome:</strong> laura</p>
<p><strong>turma:</strong> 4º período</p>
<p><strong>nome disciplina:</strong> programação 3</p>
<p><strong>data de hoje:</strong> 21/10/2025</p>
<hr/>
<marquee behavior="alternate">
    Teste
</marquee>



